@charset "utf-8";
.anchor{
	clear:both;
	height:0;
	margin:0;
}
#call_list{
	width:90%;
	min-width:1050px;
	margin:auto;
	border:2px solid black;
	font-size:1.2em;
	line-height:1.3em;
}
.header{
	background-color:#bbb;
	position:relative;
	overflow:hidden;
	padding:4px 4px 4px 155px;
}
	.header .edit .heading{
		position:relative;
		margin-top:4px;
		float:none;
	}
.call {
	position:relative;
	background-color:#ddd;
	padding:4px 5px 0 155px;
	border-top:1px solid #999;
	overflow:hidden;
}
#call_list a:link, #call_list a:visited{
	color:#00f;
}
.call.open{
	background-color: #ffd;
}
.call.closed{
	background-color: #ded;
}
.call.escalated{
	background-color: #fdd;
}
.call.open .row_1{
	background-color:#eec;
}
.call.closed .row_1{
	background-color:#cdc;
}
.call.escalated .row_1{
	background-color:#ecc;
}
.call .row_1{
	margin:-4px -6px 0 -4px;
	padding:4px 6px 0 4px;
}
.call:last-child{
	padding-bottom:0;
}
.call .edit input, .call .edit .button{
	font-size:0.5em;
}
.expander, .expand_all{
	float:right;
	font-size:0.7em;
	width:6em;
	margin-left:0.5em;
	text-align:center;
	min-width:inherit;
}
.status, .header div.heading {
	float:right;
	background-color: #444;
	padding:0 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	line-height:1.5em;
	margin-top:0px;
	min-width:8em;
	text-align:center;
	color:#fff;
}
.call .status{
	float:none;
	margin-top:4px;	
}
.call.closed .status{
	background-color:#063;
}
.call.escalated .status{
	background-color:#900;
}
.call.open .status{
	background-color: #f60;
}
.status.approval {
	float:right;
	margin-top:0;
}
.call.escalated .status.approval{
	background-color:#dbb;
	color:#000;	
}
.call.open .status.approval{
	background-color:#ddb;
	color:#000;
}
.call.closed .status.approval{
	background-color:#900;	
}
.call.closed .status.approval.approved{
	background-color:#063;	
}
.edit{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:140px;
	padding:0 5px;
	border-right:1px solid #999;
}
.label{
	color:#777;
	font-size:0.8em;
	font-variant:small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.row .left_col{
	display:block;
	float:left;
	width:50%;
	position:relative;
	clear:left;
}
.left_col{
	display:block;
	float:left;
	width:28%;
	position:relative;
	clear:left;
}
.right_col{
	display:block;
	float:right;
	width:48%;
	position:relative;
	clear:right;
}
.field{
	margin-right:0.5em;
}
.field.date_logged{
	display:block;
	float:left;
	clear:left;
	min-width:10em;
}
.field.time_logged{
	display:block;
	float:left;
	min-width:3.9em;
	margin-right:0;
	text-align:right;
	position:relative;
}
.field.date_logged .label{
	display:block;
	float:left;
	min-width:5.5em;
}
.field.phone{
	float:right;
}
.open_time_anchor{
	position:absolute;
	top:0;
	right:0;
	height:0;
	width:0;
}
.open_time{
	font-size:0.7em;
	color:#900;
	display:block;
	width:11em;
	position:absolute;
	top:0;
	left:18px;
	text-align:left;
}
.open_time .decoration{
	position:absolute;
	top:0em;
	left:-0.5em;
	font-size:4em;
	display:none;
}
.call.closed.hidden .open_time{
	left:18px;
}
.closed .open_time{
	font-size:0.7em;
	color:#900;
	display:block;
	width:11em;
	position:absolute;
	top:0.9em;
	left:28px;
}

.closed .open_time .decoration{
	display:inherit;
}
.closed .open_time{
	color:#060;
}
.hidden_rows{
	margin-top:-12px; /* Fixes strange problem in firefox where hidden_rows gets a 12px top margin due to .row_4 and 5 having one */
}
.row_4, .row_5{
	margin-top:12px;
}
.description{
	font-weight:bold;
	font-size:1.1em;
}
.footnote{
	float:right;
	clear:both;
	font-size:0.7em;
	color:#999;
	padding-bottom:12px;
}

.call.hidden .hidden_rows{
	display:none;
}

.call.hidden.closed .open_time{
	font-size:0.7em;
	display:block;
	width:11em;
	position:absolute;
	top:0;
	right:0;
}

.call.hidden.closed .open_time .decoration{
	display:none;
}

.UMR{
	position:relative;
	float:right;
	padding:4px;
	border:1px solid #999;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
	width:70%;
	margin-top:12px;
}
.UMR.edit{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.call.escalated .UMR{
	background-color:#fee;	
}
.call.open .UMR{
	background-color:#ffe;	
}
.call.closed .UMR{
	background-color:#efe;	
}
.UMR_title{
	background-color:#ddd;
	margin:-4px;
	padding:4px;
	margin-bottom:12px;
	text-align:center;
}
.UMR .label{
	margin-left:2em;
}
.text_area{
	border:1px solid #bbb;
	margin:2px 12px 8px 2em;
	padding:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width:90%;
}
.text{
	border:1px solid #bbb;
	padding:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
}
.UMR .row{
	margin-bottom:10px;
	position:relative;
}
.UMR .row input, .UMR .row textarea{
	font-size:0.8em;
}
.UMR .row textarea{
	width:90%;
}
.UMR .row.cause input {
	margin-left:3%;
	margin-right:3px;
	font-size:2em;
}
.UMR .date_time{
	position:absolute;
	top:0;
	left:15em;
}
.note{
	font-size:0.7em;
	font-variant:normal;	
}
.right{
	float:right;
}